<html>
    <head>
    	<title>Chiara's blog</title>
    </head>
    <body>
    <p> Hi there!</p>
    <p> It works!</p>
    <p> Evviva!</p>
<html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 23.09.2017, 15:05</p>
            <h2><a href="">My first post</a></h2>
            <p>Ciao a Tutti. Questo è il mio primo post! Che figo!.</p>
        </div>

        <div>
            <p>published: 23.09.2017, 15:07</p>
            <h2><a href="">My second post</a></h2>
            <p>Prova e riprova. Questo è il mio secondo post. Non credevo ci sarei riuscita :).</p>
        </div>
    </body>
</html>